@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: black;
}

.main{
    background-image: url(assests/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1639px, 100vw);
    height: 70vh;
    /* width: 100vw; */
    position: relative;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.68;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 62px;
    margin: auto;
    padding: 16px 0;
}
nav img{
    color: red;
    width: 140px;
    position: relative;
    z-index: 10;    
}
nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-family: "Martel Sans", sans-serif;
    /* font-weight: 600;
    font-style: normal; */
    height: calc(100% - 62px);

    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 18px;
    /* top: 0; */
    /* width: 100vw; */
    /* padding: 23px ; */
}
.hero> :nth-child(1){
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(46, 43, 43);
}
.btn{
    padding: 3px 8px;
    font-weight: 300;
    background-color: rgba(255, 0, 0, 0.101);
    color: white;
    border: 1px solid rgb(239, 34, 34);
    cursor: pointer;


}
.btn-red{
    background-color: red;
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
   
    
}
.main input{
    padding: 12px 125px 12px 14px;
    font-weight: 400;
    font-size: 16px;    
    /* font-size: 20px; */
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 0.5px solid rgba(246, 246, 246, 0.499);
}

.first{
    display: flex;
    width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
}

section.first > div{
    display: flex;
    flex-direction: column;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-size: 24px;
}



.secImg{
    position: relative;
}

.secImg img{
    width: 30vw;
    position: relative;
    z-index: 100;

}

.secImg video{
    width: 22vw;
    position: absolute;
    top: 60px;
    right: 60px;
}
.third video{
    width: 19vw;
    top: 19px;
    right: 90px;
}

.faq{
    background-color: black;
    color: white;
    /* font-size: 38px; */
    /* font-weight: 90; */
    justify-content: center;
    text-align: center;
    padding: 70px 0px 10px 0px;
}

.faq>h1{
    font-size: 45px;
}

.faqbox:hover{
    background-color: #414141;
    color: white;
}

.faqbox{
    transition: all 1s ease-out;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 24px;
    display: flex;
    padding: 20px;
    max-width: 75vw;
    margin: 10px auto;
    justify-content: space-between;
    cursor: pointer;

}


.faqbox > svg{
    width: 45px;
    color: white;
    filter: invert(1);
}

footer{
    color: rgba(255, 255, 255, 0.688);
    max-width: 77vw;
    margin: auto;
    padding: 34px;
    
}

.ques{
    padding: 34px 0;

}
footer a{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.668);
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 15px;

}
